@page "/tickets/new"
@using Moonlight.App.Services
@using Moonlight.App.Database.Entities
@using Moonlight.App.Models.Misc
@using Moonlight.App.Repositories
@using Moonlight.App.Services.Tickets

@inject TicketServerService TicketServerService
@inject Repository<Server> ServerRepo;
@inject Repository<Domain> DomainRepo;
@inject Repository<WebSpace> WebSpaceRepo;
@inject Repository<MySqlDatabase> DatabaseRepo;
@inject SmartTranslateService SmartTranslateService

<LazyLoader Load="Load">
    @if (!TicketLimit)
    {
        <div class="d-flex justify-content-center flex-center">
            <div class="card">
                <img src="/assets/media/svg/nodata.svg" class="card-img-top w-25 mx-auto pt-5" alt="Not found image"/>
                <div class="card-body text-center">
                    <h4 class="card-title">
                        <TL>Limit Reached</TL>
                    </h4>
                    <p class="card-text">
                        <TL>Exceeded maximum amount of Tickets</TL>
                    </p>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="d-flex flex-column flex-lg-row">
            <div class="w-100 flex-lg-row-auto w-lg-300px mb-7 me-7 me-lg-10">
                <div class="card card-flush py-4">
                    <div class="card-header">
                        <div class="card-title">
                            <h2>
                                <TL>Information</TL>
                            </h2>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="d-flex flex-column gap-10">
                            <div class="fv-row">
                                <label class="form-label"><TL>Problem type</TL></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-lg-row-fluid gap-7 gap-lg-10">
                <div class="card card-flush py-4">
                    <div class="card-header">
                        <div class="card-title">
                            <h2>
                                <TL>Your Ticket Information</TL>
                            </h2>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <label class="form-label">
                            <TL>Category</TL>
                        </label>
                        
                        <select @bind="TicketType" class="form-select input-group mb-5">
                            @foreach (var status in (SupportTicketType[])Enum.GetValues(typeof(SupportTicketType)))
                            {
                                if (TicketType == status)
                                {
                                    <option value="@(status)" selected=""><TL>@(status)</TL></option>
                                }
                                else
                                {
                                    <option value="@(status)"><TL>@(status)</TL></option>
                                }
                            }
                        </select>

                        @*
                        None,
                        General,
                        Server,
                        Domain,
                        Webspace,
                        Database,
                        TechnicalError,
                        AdminInvoice
                        *@
                        
                        @switch (TicketType)
                        {
                            case SupportTicketType.General:
                                CanSummit = true;
                            break;
                                
                            case SupportTicketType.Server:
                                CanSummit = false;
                                <LazyLoader Load="LoadServer">
                                    @if (UserServer != null)
                                    {
                                        <select @bind="Server" class="form-select">
                                            @foreach (var server in UserServer)
                                            {
                                                if (Server == server)
                                                {
                                                    <option value="@(server.Id)" selected="">@(server.Name)</option>
                                                }
                                                else
                                                {
                                                    <option value="@(server.Id)">@(server.Name)</option>
                                                }
                                            }
                                            @if (Server != null)
                                            {
                                                CanSummit = true;
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        CanSummit = false;
                                        <div class="card-body text-center">
                                            <h4 class="card-title">
                                                <TL>You have no Servers</TL>
                                            </h4>
                                        </div>
                                    }
                                </LazyLoader>
                                break;
                                
                            case SupportTicketType.Domain:
                                CanSummit = false;
                                <LazyLoader Load="LoadDomain">
                                    @if (UserDomain != null)
                                    {
                                        <select @bind="Domain" class="form-select">
                                            @foreach (var domain in UserDomain)
                                            {
                                                if (Domain == domain)
                                                {
                                                    <option value="@(domain.Id)" selected="">@(domain.Name)</option>
                                                }
                                                else
                                                {
                                                    <option value="@(domain.Id)">@(domain.Name)</option>
                                                }
                                            }
                                            @if (Server != null)
                                            {
                                                CanSummit = true;
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        CanSummit = false;
                                        <div class="card-body text-center">
                                            <h4 class="card-title">
                                                <TL>You have no Domain</TL>
                                            </h4>
                                        </div>
                                    }
                                </LazyLoader>
                                break;    
                                
                            case SupportTicketType.WebSpace:
                                CanSummit = false;
                                <LazyLoader Load="LoadWebSpace">
                                    @if (UserWebSpace != null)
                                    {
                                        <select @bind="WebSpace" class="form-select">
                                            @foreach (var webSpace in UserWebSpace)
                                            {
                                                if (WebSpace == webSpace)
                                                {
                                                    <option value="@(webSpace.Id)" selected="">@(webSpace.Domain)</option>
                                                }
                                                else
                                                {
                                                    <option value="@(webSpace.Id)">@(webSpace.Domain)</option>
                                                }
                                            }
                                            @if (WebSpace != null)
                                            {
                                                CanSummit = true;
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        CanSummit = false;
                                        <div class="card-body text-center">
                                            <h4 class="card-title">
                                                <TL>You have no Webspace(s)</TL>
                                            </h4>
                                        </div>
                                    }
                                </LazyLoader>
                                break;
                                
                            case SupportTicketType.Database:
                                CanSummit = false;
                                <LazyLoader Load="LoadWebSpace">
                                    @if (UserWebSpace != null)
                                    {
                                        <select @bind="WebSpace" class="form-select">
                                            @foreach (var webSpace in UserWebSpace)
                                            {
                                                if (WebSpace == webSpace)
                                                {
                                                    <option value="@(webSpace.Id)" selected="">@(webSpace.Domain)</option>
                                                }
                                                else
                                                {
                                                    <option value="@(webSpace.Id)">@(webSpace.Domain)</option>
                                                }
                                            }
                                            @if (WebSpace != null)
                                            {
                                                CanSummit = true;
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        CanSummit = false;
                                        <div class="card-body text-center">
                                            <h4 class="card-title">
                                                <TL>You have no Webspace(s)</TL>
                                            </h4>
                                        </div>
                                    }
                                </LazyLoader>
                                break;

                            case SupportTicketType.TechnicalError:
                            
                                break;
                                
                            case SupportTicketType.AdminInvoice:
                            
                                break;
                                
                            default:
                                CanSummit = false;
                                break;
                        }
                        
                        @if(TicketType is not SupportTicketType.None) {
                            <label class="form-label">
                                <TL>Support Message</TL>
                            </label>
                                
                            <div class="d-flex flex-stack">
                                <table class="w-100">
                                    <tr>
                                        <td class="align-top">
                                            <SmartFileSelect @ref="SmartFileSelect"></SmartFileSelect>
                                        </td>
                                        <td class="w-100">
                                            <textarea @bind="Content" @oninput="OnTyping" class="form-control mb-3 form-control-flush" rows="1" placeholder="@(SmartTranslateService.Translate("Describe your problem"))">            
                                                                </textarea>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <button type="submit" disabled="@(!CanSummit)" class="mt-5 float-end btn btn-primary">
                                <TL>Create</TL>
                            </button>
                        }
                        else
                        {
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    <TL>Please select a Category.</TL>
                                </h4>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</LazyLoader>

@code
{
    [CascadingParameter]
    public User User { get; set; }

    private String Content;
    private bool CanSummit = false;
    private DateTime LastTypingTimestamp = DateTime.UtcNow.AddMinutes(-10);
    private SmartFileSelect SmartFileSelect;
    private SupportTicketType TicketType;
    private bool TicketLimit;

    private async Task Load(LazyLoader lazyLoader)
    {
        await lazyLoader.SetText(SmartTranslateService.Translate("Loading..."));
        TicketLimit = TicketServerService.CanOpenTicket(User);
    }
    
    private async void OnTyping()
    {
        if ((DateTime.UtcNow - LastTypingTimestamp).TotalSeconds > 5)
        {
            LastTypingTimestamp = DateTime.UtcNow;
            //TODO: await ClientService.SendTyping();
        }
    }

    //Server Stuff
    private Server? Server;
    private List<Server>? UserServer;
    private async Task LoadServer(LazyLoader lazyLoader)
    {
        await lazyLoader.SetText(SmartTranslateService.Translate("Loading your Server(s)"));
        var servers = ServerRepo.Get().Where(x => x.Owner == User);
        foreach (var server in servers)
        {
            UserServer.Add(server);
        }
        
    }
    
    //Domain Stuff
    private Domain? Domain;
    private List<Domain>? UserDomain;
    private async Task LoadDomain(LazyLoader lazyLoader)
    {
        await lazyLoader.SetText(SmartTranslateService.Translate("Loading your Domain(s)"));
        var domains = DomainRepo.Get().Where(x => x.Owner == User);
        foreach (var domain in domains)
        {
            UserDomain.Add(domain);
        }
        
    }
    
    //WebSpace Stuff
    private WebSpace? WebSpace;
    private List<WebSpace>? UserWebSpace;
    private async Task LoadWebSpace(LazyLoader lazyLoader)
    {
        await lazyLoader.SetText(SmartTranslateService.Translate("Loading your Webspace(s)"));
        var webSpaces = WebSpaceRepo.Get().Where(x => x.Owner == User);
        foreach (var webSpace in webSpaces)
        {
            UserWebSpace.Add(webSpace);
        }
        
    }
}